<h1 class="col-sm-12 col-sm-offset-0">Editing Gem Review: <span class="lighter-title"><%= gem_review_name_link %></span></h1>

<%= render 'form' %>

<%= link_to 'Show', @gem_review %> |
<%= link_to 'Back', gem_reviews_path %>
