// Place all the styles related to the gem_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 span.lighter-title {
  font-weight: normal;
}

h1 span.lighter-title a:hover {
  background-color: white;
  text-decoration: none;
}

h1 span.lighter-title a i.icon-external-link {
  display: none;
  font-size: 18px;
}

h1 span.lighter-title a:hover i.icon-external-link {
  display: inline-block;
}

